HTTPWCFFileTransport/Client/Service References/FileServiceReference/FileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35518/FileService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:35518/FileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="DownloadResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetFilesResult" nillable="true" type="q2:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>